.lyrics {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
  text-align: center;
  font-family: "Segoe Script";
}

h1 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 50px;
	background-color: grey;
	margin-top: 45px;
}

h2 {
	text-align: center;
	color: grey;
	font-weight: bold;
	font-size: 35px;
	background-color: white;
	margin-top: 12px;
}